<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/libs/bootstrap/dist/css/bootstrap.min.css' />
  </head>
  <body>
    <div class="container">
      {{{body}}}  
    </div>
    <script type="text/javascript" src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
  </body>
</html>
